@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #0a192f;
}

@font-face {
  font-family: 'Alliance Extra Bold';
  src: local('Alliance No 1 Extra Bold'), local('Alliance-No-1-Extra-Bold'),
  url('../fonts/AllianceNo1-ExtraBold.woff2') format('woff2'),
  url('../fonts/AllianceNo1-ExtraBold.woff') format('woff'),
  url('../fonts/AllianceNo1-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

h1 {
  color: #CCD6F6;
  font-family: 'Alliance Extra Bold', sans-serif;
  font-size: 12.5em;
  text-align: left;
  padding-left: 25px;
  margin:0;
  padding-bottom: 0;
  padding-top:  0;
  line-height: 125px;
  
}

.noselect {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

div {
  padding-top:  2em;
}

h2 {
  color: #8892b0;
  font-family: 'Arial', sans-serif;
  font-size: 2.5em;
  text-align: left;
  padding-left: 35px;
  padding-top: 0;
  padding-bottom: 0;
}

.bigger {
    font-size: 3em;
}

h3 {
  color: #ccd6f6;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  text-align: left;
  padding-left: 35px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom:0;
}

h4 {
  color: #8892b0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(transparent, transparent 5px, #0a192f 0, #0a192f);
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
}

a:hover {
  background-image: linear-gradient(transparent,transparent 4px,#CCD6F6 0,#CCD6F6);
}